
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a :0;
}
* {
    margin: 0;
    padding: 0;
}

.body{

    font-family: "roboto", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
    background-color: black;
 
}


.left{
    width: 25vw;
    padding: 10px;


}

.right{
    width: 75vw;
    position: relative; /*for keeping the playbar at the bottom of the right side of the page*/
}

.home ul li{
    display: flex;
    gap: 13px;
    width: 20px;
    list-style: none;
    padding-top: 20px;            
}

.logo{
    font-weight: bolder;
    font-size: xx-large;
    display: flex;
    align-items: center;
    color: rgb(38, 235, 38);
   
  
     
    
}

.heading{
    display: flex;
    gap: 13px;
    align-items: center;
    font-size: small;
    padding:10px 0px ;
    
}

.library{
    min-height: 80vh;
    position: relative;
}

.footer{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 1px;
    padding: 10px 0px;
}

.footer a{
    color: grey;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 35, 35);
    
}

.header > *{
    padding: 18px;
}

.songlist{
    height: 544px;
    overflow: auto;
    margin: 34px 0;

}
.songlist ul{
    padding: 0px 12px ;
}

.songlist ul li{
    list-style-type: none;
    padding: 12px;
    display: flex;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    margin :10px 0px;
    font-size: small;
    justify-content: space-between;
   
   

}

.info{
    font-size: 15px;
    width: 344px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.right{
    margin: 15px 0px;
    min-height: 100vh;
    overflow: scroll;
}

.spotify-playlists{
    padding: 12px;
    font-size: small;
}

.spotify-playlists h1{
    padding: 16px;
   
}

.card-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 18px;
    overflow-y: auto;
    max-height: 60vh;
}
.card{
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    background-color:#232222;
    position: relative;
    transition: all 0.9sec;
}

.card:hover{
    background-color: rgb(90, 88, 88);
    cursor: pointer;
    --a:1;
}



.card > *{
    padding-top: 10px;
}
.card img{
    width:100%;
    object-fit: contain;
}

.green{
    position: absolute;
    bottom: 88px;
    right: 14px;
    opacity: var(--a);
    transform: all 1s ease-out;
}




.buttons > * {
    margin: 0px 12px;
}

.signupbtn{
    background-color: rgb(37, 35, 35);
    color: rgb(113, 109, 109);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover{
    font-size: 1.01rem;
   
    color: white;
}

.loginbtn{
    padding: 12px ;
    border-radius: 21px;
    font-weight: 400;
    width: 82px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;

}


.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}
.hamburger{
    display: none;
}

.close{
    position: absolute;
    right: 15px;
    top: 23px;
    width:  36px;
}

.playbar{

    position: fixed;
    bottom: 20px;
    height:66px;
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
    padding: 10px;
    color: black;
   
    width: 68vw;
    min-height: 30px;
    
     
    
}

.songsbutton{
    display: flex;
    justify-content: center;
    gap:16px;
    

  
}

.seekbar{
    width: 98%;
    height: 3px;
    background-color:  rgb(189, 186, 186);
    position: absolute;
    bottom: 0px;
    border-radius: 14px;
    margin: 6px;
    transition:left 0.5 ;
    cursor: pointer;
    left: 0px;
 
}

.circle{
    width: 13px;
    height: 13px;
    left: 0%;
    border-radius: 13px;
    background-color: white;
    position: relative;
    bottom: 6px;
}

.songsbutton img{
    cursor: pointer;
    width:30px
}



.timevol{
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.volume img{
    width: 30px;
}



.songtime{
    color: white;
    padding: 0 12px;
    width: 125px;
}
.songinfo {
    color: white;
    padding: 0 12px;
    width: 250px;
}

.info div{
    word-break: break-all;
}


.abovebar{
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin: 20px,0;
    
}

@media (max-width: 1200px) {

    .timevol{
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
    }
    .left {
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1; 
        width: 380px; 
        background-color: black;
        padding: 0px;
        height: 100vh;
        position: fixed;
        top: 0;
    }
    .left .close{
        position: absolute;
        right: 15px;
        top: 23px;
        width:  36px;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
        width: calc(100vw - 104px);
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        
    }

    .seekbar{
        width:calc(100vw - 50px);
    }

    .hamburger{
        display: block;
    }

    .songsbutton{
        width: 10px;
    }
    .abovebar{
        font-size: small;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        height: 40px;
     
    }

    .card{
        width: 40vw;
    }

    .card-container{
        margin: 0;
        justify-content: center;
        max-height:unset ;
        overflow-y: unset;
        margin-bottom: 35vh;

    }

    .songinfo {
        width:auto ;
        padding-top: 12px;
    }

    .songtime{
        width: auto;
        padding-top:5px ;
    }



}    

@media (max-width: 400px){
    .card{
        width: 80vw;
    }
    
    .header>*{
        padding: 2px;
     
    }





    .buttons>*{
        margin: 0 4px;
      
    }


    .spotify-playlists h1{
        padding: 0;
    }

    .library{
        height: 85vh;
    }

    .left{
        position: fixed;
        top: 0;
        width: 100vw;
    }
}